body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.titleText{
    font-size: 40px;
    margin-bottom: 100px;
}

.playAgainHide{
    display: none;
}

.playAgain{
    margin-bottom: 50px;
    font-size: 20px;
    padding: 5px 10px;
}

.btnContainer{
    display: flex;
    gap: 20px;
}

.btn{
    padding: 3px 10px;
    background-color: aquamarine;
    border: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in .2s;
}

.btn:hover{
    background-color: darkslategray;
    color: white;
}

.btnHide{
    display: none;
}

.results{
    padding-top: 20px;
    color: white;
}

.score{
    margin-top: 30px;
    padding: 20px 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.score h2{
    text-decoration: underline;
}

.playerScoreContainer{
    display: flex;
    gap: 10px;
}

.computerScoreContainer{
    display: flex;
    gap: 10px;
}